<main class="main">
  <div class="container round mt-4 d-flex flex-wrap flex-xl-nowrap align-items-start gap-4">
    <div class="d-flex gap-4">
      <div class="profile-photo">
        <img src="./assets/img/profile-photo.jpg" alt="">
      </div>
      <div class="d-flex flex-column">
        <h1 class="title absolute-space mb-0">Елена Некрасова</h1>
        <p class="text-m absolute-space c-green">Цель: <span>похудеть</span></p>
        <div class="d-flex flex-wrap gap-2 mt-4">
          <div class="profile-pin d-flex align-items-center gap-2">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.00002 1.16669C4.74252 1.16669 2.91669 2.99252 2.91669 5.25002C2.91669 7.68252 5.49502 11.0367 6.55669 12.3142C6.79002 12.5942 7.21585 12.5942 7.44919 12.3142C8.50502 11.0367 11.0834 7.68252 11.0834 5.25002C11.0834 2.99252 9.25752 1.16669 7.00002 1.16669ZM7.00002 6.70835C6.19502 6.70835 5.54169 6.05502 5.54169 5.25002C5.54169 4.44502 6.19502 3.79169 7.00002 3.79169C7.80502 3.79169 8.45835 4.44502 8.45835 5.25002C8.45835 6.05502 7.80502 6.70835 7.00002 6.70835Z" fill="#27AE60"/>
            </svg>
            <span>Россия, Астрахань</span>
          </div>
          <div class="profile-pin d-flex align-items-center gap-2">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6667 2.33334H2.33332C1.69166 2.33334 1.17249 2.85834 1.17249 3.5L1.16666 10.5C1.16666 11.1417 1.69166 11.6667 2.33332 11.6667H11.6667C12.3083 11.6667 12.8333 11.1417 12.8333 10.5V3.5C12.8333 2.85834 12.3083 2.33334 11.6667 2.33334ZM11.4333 4.8125L7.30916 7.39084C7.12249 7.5075 6.87749 7.5075 6.69082 7.39084L2.56666 4.8125C2.42082 4.71917 2.33332 4.56167 2.33332 4.3925C2.33332 4.00167 2.75916 3.76834 3.09166 3.9725L6.99999 6.41667L10.9083 3.9725C11.2408 3.76834 11.6667 4.00167 11.6667 4.3925C11.6667 4.56167 11.5792 4.71917 11.4333 4.8125Z" fill="#27AE60"/>
            </svg>
            <span>sergeymail.ru</span>
          </div>
        </div>
      </div>
    </div>
    <div class="medcard-block d-flex flex-column gap-1">
      <p class="text-s">Ближайшая консультация:</p>
      <p class="text-m">19 сентября, вторник в 18:30</p>
      <div class="d-flex justify-content-between mt-2 gap-3">
        <button class="primary-button bordered">Перенести</button>
        <button class="primary-button fill">Перейти в чат</button>
      </div>
    </div>
  </div>
  <div class="container d-flex px-0 my-4 gap-3">
    <div class="profile-menu d-lg-block d-none">
      <ul class="profile-menu-list js-containers">
        <li class="profile-menu-list__item d-flex align-items-center gap-2 active" data-container="0">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.8083 2.5H4.16667C3.25 2.5 2.5 3.25 2.5 4.16667V15.8333C2.5 16.75 3.25 17.5 4.16667 17.5H15.8333C16.75 17.5 17.5 16.75 17.5 15.8333V8.19167C17.5 7.75 17.325 7.325 17.0083 7.01667L12.9833 2.99167C12.675 2.675 12.25 2.5 11.8083 2.5ZM6.66667 12.5H13.3333C13.7917 12.5 14.1667 12.875 14.1667 13.3333C14.1667 13.7917 13.7917 14.1667 13.3333 14.1667H6.66667C6.20833 14.1667 5.83333 13.7917 5.83333 13.3333C5.83333 12.875 6.20833 12.5 6.66667 12.5ZM6.66667 9.16667H13.3333C13.7917 9.16667 14.1667 9.54167 14.1667 10C14.1667 10.4583 13.7917 10.8333 13.3333 10.8333H6.66667C6.20833 10.8333 5.83333 10.4583 5.83333 10C5.83333 9.54167 6.20833 9.16667 6.66667 9.16667ZM6.66667 5.83333H10.8333C11.2917 5.83333 11.6667 6.20833 11.6667 6.66667C11.6667 7.125 11.2917 7.5 10.8333 7.5H6.66667C6.20833 7.5 5.83333 7.125 5.83333 6.66667C5.83333 6.20833 6.20833 5.83333 6.66667 5.83333Z" fill="#BDBDBD"/>
          </svg>
          Анкета
        </li>
        <li class="profile-menu-list__item d-flex align-items-center gap-2" data-container="1">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.2583 6.65L13.3583 2.75C13.2 2.59167 12.9833 2.5 12.7667 2.5H7.23333C7.01667 2.5 6.8 2.59167 6.65 2.74167L2.74167 6.65C2.59167 6.8 2.5 7.01667 2.5 7.23333V12.7583C2.5 12.9833 2.59167 13.1917 2.74167 13.35L6.64167 17.25C6.8 17.4083 7.01667 17.5 7.23333 17.5H12.7583C12.9833 17.5 13.1917 17.4083 13.35 17.2583L17.25 13.3583C17.4083 13.2 17.4917 12.9917 17.4917 12.7667V7.23333C17.5 7.01667 17.4083 6.8 17.2583 6.65V6.65ZM15.8333 12.4167L12.4167 15.8333H7.58333L4.16667 12.4167V7.58333L7.58333 4.16667H12.4167L15.8333 7.58333V12.4167V12.4167Z" fill="#BDBDBD"/>
            <path d="M10 14.1667C10.4603 14.1667 10.8334 13.7936 10.8334 13.3333C10.8334 12.8731 10.4603 12.5 10 12.5C9.53978 12.5 9.16669 12.8731 9.16669 13.3333C9.16669 13.7936 9.53978 14.1667 10 14.1667Z" fill="#BDBDBD"/>
            <path d="M10 5.83334C9.54169 5.83334 9.16669 6.20834 9.16669 6.66668V10.8333C9.16669 11.2917 9.54169 11.6667 10 11.6667C10.4584 11.6667 10.8334 11.2917 10.8334 10.8333V6.66668C10.8334 6.20834 10.4584 5.83334 10 5.83334Z" fill="#BDBDBD"/>
          </svg>
          Рекомендации
        </li>
        <li class="profile-menu-list__item d-flex align-items-center gap-2" data-container="2">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.05 2.50001C6.80832 2.38334 3.33332 5.79168 3.33332 10H1.84165C1.46665 10 1.28332 10.45 1.54998 10.7083L3.87498 13.0417C4.04165 13.2083 4.29998 13.2083 4.46665 13.0417L6.79165 10.7083C7.04998 10.45 6.86665 10 6.49165 10H4.99998C4.99998 6.75001 7.64999 4.12501 10.9167 4.16668C14.0167 4.20834 16.625 6.81668 16.6667 9.91668C16.7083 13.175 14.0833 15.8333 10.8333 15.8333C9.49165 15.8333 8.24999 15.375 7.26665 14.6C6.93332 14.3417 6.46665 14.3667 6.16665 14.6667C5.81665 15.0167 5.84165 15.6083 6.23332 15.9083C7.49999 16.9083 9.09165 17.5 10.8333 17.5C15.0417 17.5 18.45 14.025 18.3333 9.78334C18.225 5.87501 14.9583 2.60834 11.05 2.50001ZM10.625 6.66668C10.2833 6.66668 9.99999 6.95001 9.99999 7.29168V10.3583C9.99999 10.65 10.1583 10.925 10.4083 11.075L13.0083 12.6167C13.3083 12.7917 13.6917 12.6917 13.8667 12.4C14.0417 12.1 13.9417 11.7167 13.65 11.5417L11.25 10.1167V7.28334C11.25 6.95001 10.9667 6.66668 10.625 6.66668Z" fill="#BDBDBD"/>
          </svg>
          История консультаций
        </li>
      </ul>
    </div>
    <div class="profile-container d-flex flex-column gap-3 w-100">
      <div class="profile-info">
        <h2 class="title c-green">Мои цели</h2>
        <div class="d-flex flex-sm-row flex-column gap-sm-3 my-sm-1 ">
          <input type="checkbox" id="my-point1">
          <label for="my-point1" class="primary-input-check c-green w-md-50 w-100">Поддерживать свое здоровье в оптимальном состоянии</label>
          <input type="checkbox" id="my-point2">
          <label for="my-point2" class="primary-input-check c-green w-md-50 w-100">Укрепить иммунитет</label>
        </div>
        <div class="d-flex flex-sm-row flex-column gap-sm-3 my-sm-1">
          <input type="checkbox" id="my-point3" checked>
          <label for="my-point3" class="primary-input-check c-green w-md-50 w-100">Улучшить состояние кожи волос и ногтей</label>
          <input type="checkbox" id="my-point4">
          <label for="my-point4" class="primary-input-check c-green w-md-50 w-100">Увеличить мышечную массу при занятиях спортом</label>
        </div>
        <div class="d-flex flex-sm-row flex-column gap-sm-3 my-sm-1">
          <input type="checkbox" id="my-point5" checked>
          <label for="my-point5" class="primary-input-check c-green w-md-50 w-100">Уменьшить влияние стресса</label>
          <input type="checkbox" id="my-point6">
          <label for="my-point6" class="primary-input-check c-green w-md-50 w-100">Увеличить массу тела</label>
        </div>
        <div class="d-flex flex-sm-row flex-column gap-sm-3 my-sm-1">
          <input type="checkbox" id="my-point7">
          <label for="my-point7" class="primary-input-check c-green w-md-50 w-100">Похудеть</label>
        </div>
        <div class="d-flex flex-column gap-1 mt-2">
          <p class="text primary-input-label m-0">Другие цели</p>
          <textarea class="primary-input w-100"></textarea>
        </div>
        <h2 class="title c-green mt-4 mb-3">Параметры</h2>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Ваш рост, см</p>
            <input type="text" class="primary-input" value="156" placeholder="0">
          </div>
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Окружность грудной клетки, см</p>
            <input type="text" class="primary-input" value="43" placeholder="0">
          </div>
        </div>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Телосложение</p>
            <input type="text" class="primary-input" value="Обычное" placeholder="Телосложение">
          </div>
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Бедра, см</p>
            <input type="text" class="primary-input" value="43" placeholder="0">
          </div>
        </div>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Талия, см</p>
            <input type="text" class="primary-input" value="33" placeholder="0">
          </div>
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Запястье, см</p>
            <input type="text" class="primary-input" value="156" placeholder="0">
          </div>
        </div>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Ваш вес, кг</p>
            <input type="text" class="primary-input" value="56" placeholder="0">
          </div>
        </div>
        <h2 class="title c-green mt-4 mb-3">Условия жизни</h2>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Климатические условия проживания</p>
            <input type="text" class="primary-input" value="Холодный  климат" placeholder="0">
          </div>
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Потребление алкоголя</p>
            <input type="text" class="primary-input" value="Не употребляю" placeholder="0">
          </div>
        </div>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Уровень стрессовой нагрузки</p>
            <input type="text" class="primary-input" value="Низкий" placeholder="0">
          </div>
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Курение</p>
            <input type="text" class="primary-input" value="Курю" placeholder="0">
          </div>
        </div>
        <div class="d-flex flex-md-row flex-column gap-3 my-1">
          <div class="d-flex flex-column gap-1 w-md-50 w-100">
            <p class="text primary-input-label m-0">Уровень физической активности</p>
            <input type="text" class="primary-input" value="Низкий" placeholder="0">
          </div>
        </div>
      </div>
    </div>
    <div class="profile-container d-none flex-column gap-3 w-100">
      <div class="profile-info">
        <h2 class="title c-green">Рекомендации</h2>
        <div class="d-flex flex-column gap-1 w-100 mt-4">
          <p class="text primary-input-label m-0">Рекомендации для  клиента</p>
          <textarea class="primary-input medlist" value="Питание: стол №3" placeholder="Рекомендации"></textarea>
        </div>
      </div>
    </div>
    <div class="profile-container d-none flex-column gap-3 w-100">
      <div class="profile-info">
        <h2 class="title c-green">История консультаций</h2>
        <div class="consult-history-block d-flex flex-wrap flex-column gap-2 mt-3">
          <p class="text-s c-gray">13 декабря, в 14:00</p>
          <p class="text-desc">Текущие параметры:</p>
          <div class="d-flex flex-wrap gap-2">
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Вес, кг</p>
              <p class="text-s c-green">56</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Окружность грудной клетки, см</p>
              <p class="text-s c-green">45</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Бедра, см</p>
              <p class="text-s c-green">45</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Талия, см</p>
              <p class="text-s c-green">45</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Запястье, см</p>
              <p class="text-s c-green">45</p>
            </div>
          </div>
          <p class="text-desc">Рекомендации:</p>
          <p class="text-s c-gray">Стол №4, физическая нагрузка</p>
        </div>
        <div class="consult-history-block d-flex flex-wrap flex-column gap-2 mt-3">
          <p class="text-s c-gray">13 декабря, в 14:00</p>
          <p class="text-desc">Текущие параметры:</p>
          <div class="d-flex flex-wrap gap-2">
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Вес, кг</p>
              <p class="text-s c-green">56</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Окружность грудной клетки, см</p>
              <p class="text-s c-green">45</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Бедра, см</p>
              <p class="text-s c-green">45</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Талия, см</p>
              <p class="text-s c-green">45</p>
            </div>
            <div class="parameter-block d-flex flex-column gap-1">
              <p class="text-s c-gray">Запястье, см</p>
              <p class="text-s c-green">45</p>
            </div>
          </div>
          <p class="text-desc">Рекомендации:</p>
          <p class="text-s c-gray">Стол №4, физическая нагрузка</p>
        </div>
      </div>
    </div>
  </div>
</main>
