<!-- MODAL OF THE SPECIALIST -->
<div [ngClass]="{'modal-wrapper': true, 'active' : isModalOpen}" id="diary-card-modal">
  <div class="modal-block specialist">
    <button class="modal-close js-close-modal" (click)="closeModal()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.2 3.80665C11.94 3.54665 11.52 3.54665 11.26 3.80665L7.99998 7.05998L4.73998 3.79998C4.47998 3.53998 4.05998 3.53998 3.79998 3.79998C3.53998 4.05998 3.53998 4.47998 3.79998 4.73998L7.05998 7.99998L3.79998 11.26C3.53998 11.52 3.53998 11.94 3.79998 12.2C4.05998 12.46 4.47998 12.46 4.73998 12.2L7.99998 8.93998L11.26 12.2C11.52 12.46 11.94 12.46 12.2 12.2C12.46 11.94 12.46 11.52 12.2 11.26L8.93998 7.99998L12.2 4.73998C12.4533 4.48665 12.4533 4.05998 12.2 3.80665V3.80665Z" fill="#27AE60"/>
      </svg>
    </button>
    <h2>Добавить прием пищи</h2>
    <br />
    <div class="row">
      <div class="col">
        <select class="form-select mt-3">
          <option value="">Завтрак</option>
          <option value="">Обед</option>
          <option value="">Ужин</option>
        </select>
      </div>
      <div class="col">
        <label for="meal-time" class="c-gray-dark">Время приема пищи</label>
        <input disabled id="meal-time" name="meal-time" class="primary-input" value="09:00" placeholder="Время приема пищи..." />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-10">
        <h4>Рекомендации врача</h4>
        <span class="c-gray-dark" style="margin-right: 10px;">Белки: </span><span class="c-gray-dark" style="margin-right: 20px;">120гр</span>
        <span class="c-gray-dark" style="margin-right: 10px;">Жиры: </span><span class="c-gray-dark" style="margin-right: 20px;">120гр</span>
        <span class="c-gray-dark" style="margin-right: 10px;">Углеводы: </span><span class="c-gray-dark">120гр</span>
      </div>
      <div class="col-2 mt-1">
        <h4 class="c-green">300 ккал</h4>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8 mt-2">
        <h5 class="c-green">Яйца, шт</h5>
      </div>
      <div class="col-4">
        <input type="text" value="2" class="primary-input" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8 mt-2">
        <h5 class="c-green">Кофе, мл</h5>
      </div>
      <div class="col-4">
        <input type="text" value="250" class="primary-input" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8 mt-2">
        <h5 class="c-green">Каша, гр</h5>
      </div>
      <div class="col-4">
        <input type="text" value="150" class="primary-input" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <h5 class="c-green" style="margin-left: 15px; cursor: pointer;">Добавить продукт/блюдо +</h5>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL OF THE SPECIALIST -->
