<main class="main">
  <div class="container d-flex gap-md-3 gap-1 px-0 mt-md-4 mt-2 mb-md-3 mb-2">
    <div class="main-image"><img src="./assets/img/main-left.jpg" alt="Диетология"></div>
    <div class="main-image"><img src="./assets/img/main-center.jpg" alt="Диетология"></div>
    <div class="main-image"><img src="./assets/img/main-right.jpg" alt="Диетология"></div>
  </div>
  <div class="container round mb-4">
    <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap flex-lg-nowrap gap-2">
      <h1 class="title mobile">Выбрать специалиста</h1>
      <div class="filter-search-block d-flex align-items-center gap-3">
        <div class="search-item">
          <input type="text" class="search" placeholder="ФИО врача">
        </div>
        <div class="filter-select">
          <div class="filter-select-head d-flex align-items-center c-gray">Фильтр</div>
          <ul class="filter-select-dropdown mb-0">

          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column gap-3">
      @for (specialist of specialists; track specialist){
        <specialist-card-component [specialist]="specialist"></specialist-card-component>
      }
    </div>
  </div>
</main>



